@charset "UTF-8";

@font-face { 
	font-family: Courier;
	font-weight: normal;
	font-style: normal;
}

html {
    font-size: 15px;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: Courier; 
    background-color: yellow;
    color: red;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

h1 {
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

article {
    padding: 4rem 0rem;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}


img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.75rem;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: Courier;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.6rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 0.6rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

